#shopList{
    position: relative;
    top: 50px;
    width: 100%;
    height: 2000px;
}
.shopitem{
    position: relative;
    border-radius: 10px;
    background-color: #086fc9;
    top: 200px;
    margin-top: 50px;
    left: 10%;
    width: 80%;
    height: 100px;
}
.shopitem:hover{
    cursor: pointer;
}